Hostname    "{{ ansible_hostname }}"
FQDNLookup   false

Interval {{ collectd_interval }}

LoadPlugin write_http
{% for plugin in collectd_plugins %}
LoadPlugin {{ plugin }}
{% endfor %}

{% if 'df' in collectd_plugins %}
<Plugin "df">
  FSType "tmpfs"
  FSType "devtmpfs"
  IgnoreSelected true
</Plugin>
{% endif %}

<Plugin write_http>
    <URL "https://collectd.librato.com/v1/measurements">
        User "{{ librato_email }}"
        Password "{{ librato_token }}"
        Format "JSON"
    </URL>
</Plugin>

Include "/etc/collectd/collectd.conf.d"
